.Stack {
    padding: 12px;
    margin: auto;
}

.text-center {
    margin: auto;
    padding-bottom: 7px;
}

.two-option-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    padding: 10px;
    margin: auto;
}

.two-option-grid-container-no-grid-container > button {
    padding: 15px 0;
    margin: auto;
}

.d-grid {
    max-width: 800px;
    padding: 10px;
    margin: auto;
}

.dual-choice-container {
    max-width: 800px;
    margin: auto;
}